.name-request{
    font-size: 20px;
    font-weight: 600;
    color: purple;
    margin-bottom: 15px;
}

.info-request{
    margin-bottom: 15px;
    margin-left: 15px;
}

.title{
    font-weight: 600;
}